html, body {
    margin:0px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 100vw;
    height: 15vh;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
    width: 100px;
    border-radius: 100%;
}
.leftnavbar{
    display: flex;
    flex-direction: row;
}
.rightnavbar{
    display: flex;
    flex-direction: row;
}
.container{
    width: 70vw;
    height: 70vh;
    border-radius: 19px;
    margin: 25px;
    background-color: rebeccapurple;
}